.Position{
    background-color: antiquewhite;
    width: 80%;
    height: fit-content;
    border-radius: 7px;
    transition: 0.54s;
    margin-top: 40px;
    padding: 10px;
}

.Position h1{
    display: inline-block;
    color: black;
    margin-bottom: 15px;
    font-size: 45px;
}


.title{
    padding: 5px;
    width: fit-content;
    cursor: pointer;
    font-size: 30px;
    color: antiquewhite;
    transition: 0.54s;
}

.title:hover{
    background-color: antiquewhite;
    color: black;
    border-radius: 17px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 45px;
    }
    .Position{
        width: 95%;
        border-radius: 14px;
        margin-bottom: 350px;
    }
    .Position p{
        font-size: 30px;
    }
  }