.Projects{
    background-color: rgba(250, 235, 215, 0.151);
    width: 80%;
    height: fit-content;
    border-radius: 7px;
    transition: 0.54s;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Projects p{
    display: inline-block;
    color: var(--contentp, antiquewhite);
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.Projects:hover{
    background-color: antiquewhite;
    --contentp: black;
}

.projectsdiv{
    width: 80%;
    display: flex;
    margin: 10em 5em 10em 5em;
}

.card{
    background-color: rgba(250, 235, 215, 0.151);
    border-radius: 7px;
    width: 18rem;
    margin: 0px 50px 0px 50px;
}

.projectimg{
    margin: 30px 0px 30px 0px;
    height: 60px;
    width: fit-content;
}

.cardp{
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: antiquewhite;
}

.btn{
    margin: 10px;
}

.title{
    margin-top: 80px;
    padding: 5px;
    width: fit-content;
    cursor: pointer;
    font-size: 30px;
    color: antiquewhite;
    transition: 0.54s;
}

.title:hover{
    background-color: antiquewhite;
    color: black;
    border-radius: 17px;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 45px;
    }
    .Projects{
        width: 95%;
        border-radius: 14px;
        margin-bottom: 250px;
    }
    .Projects p{
        font-size: 40px;
    }
    .Projects button{
        font-size: 25px;
    }
    .projectsdiv{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 10em;
    }
    .card{
        background-color: rgba(250, 235, 215, 0.151);
        border-radius: 7px;
        width: 18rem;
        margin-top: 50px;
    }
  }